* {
    box-sizing: border-box;
}

.header, 
.current-player {
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-around;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-row: repeat(3, 150px);
    justify-content: center;
}

.cell {
    font-size: 128px;
    color: white;
    background-color: black;
    height: 150px;
    width: 150px;
    border: 1px solid white;
}

.cell:hover {
    background-color: white;
    border: 5px dotted black;
    color: black;
}

.footer,
.winner {
    display: flex;
    justify-content: center;
}